* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to top right, #181818 91% , #0021ED);
}
/* left side */
.left_side {
    width: 20%;
    background: #202020;
    box-shadow: 3px 10px 10px 8px rgba(0, 0, 0, 0.15);
}
.wrapper {
    text-align: center;
}

.text_wrapper {
    padding: 0 20px;
}

.wrapper h3 {
    margin-top: 70px;
    font-size: 18px;
    font-weight: 400;
}

.profile_bottom {
    font-size: 14px;
    font-weight: 300;
    color: #DEDEDE;
}

.social_network {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    padding: 18px 0 30px;
}
.map:focus{
    width: 500px;
    height: 450px;
}
.left_info {
    font-size: 13px;
    margin: 30px 0;
}

.profile {
    background: url("../image/Rectangle 1.jpg") center/cover no-repeat;
    width: 100%;
    height: 180px;
    position: relative;
}

.profile img {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    bottom: -25%;
    left: 50%;
    transform: translateX(-50%);
}

.line {
    border: 1px solid #1C1C1C;
    background: #1C1C1C;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.buttons button {
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 25px;
    background: #ED3024;
    margin-top: 30px;
}

.buttons button:last-child {
    background: #3137C9;
}
.buttons button:hover {
    cursor: pointer;
}

/* right side */
.right_side {
    width: 80%;
    padding-bottom: 80px;
}

.header_top {
    display: flex;
    justify-content: space-between;
    background: #0D0D0D;
    box-shadow: 3px 10px 10px 8px rgba(0, 0, 0, 0.15);
    height: 60px;
}

.left_header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 55%;
    height: 100%;
}

.left_header li {
    font-size: 18px;
    display: flex;
    align-items: center;
    padding: 0 47px;
    height: 100%;
}

.left_header li:hover {
    cursor: pointer;
    background: #3137C9;
}

/* Articles */
.articles{
    display: flex;
    flex-direction: column;
    position: relative;
}
.articles-btn{
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
}
.down_arrow{
    height: 8px;
    width: 10px;
}
.articles-bar{
    display: none;
    background: #3137C9;
    position: absolute;
    width: 341px;
    padding: 20px;
    bottom: -105px;
    z-index: 10;
    margin-left: 168px;
    border-radius: 0 0 8px 8px;
}
.articles-bar.active{
    display: block;
}
.close2{
    position: absolute;
    font-size: 26px;
    right: 20px;
    top: 15px;
}
.link{
    display: flex;
    flex-direction: column;
}
.link a:hover{
    color: #EA8C1E;
}

/* right header */
.form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 38%;
    height: 100%;
}

.profile_li {
    font-size: 18px;
    padding: 19px 56px 18px;
}

.profile_li:hover {
    cursor: pointer;
    background: #3137C9;
}

.search {
    background: #202020;
    width: 100%;
    padding: 20px  40px 20px 50px;
    border: none;
    font-size: 16px;
    outline: none;
}

/* container */
.container {
    width: 80%;
    margin: 0 auto;
}


/* marketing */
.marketing_wrapper{
    padding: 20px;
    background: #202020;
    margin-top: 60px;
    border-radius: 8px;
    box-shadow: 3px 10px 10px 8px rgba(0, 0, 0, 0.15);
}
.name_block{
    font-size: 32px;
    margin-bottom: 60px;
    font-weight: 400;
}
.marketing_wrapper p{
    color: #D2D2D2;
    font-size: 18px;
    font-weight: 300;
}
.name_block2{
    font-size: 26px;
    margin-bottom: 30px;
    margin-top: 30px;
    font-weight: 400;
}
.list{
    padding-left: 20px;
}
.list li{
    list-style: circle;
    font-size: 18px;
    line-height: 30px;
}

/* contact me */
.Popup{
    position: absolute;
    z-index: 11;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) scale(0);
    transition: .4s ease-in-out;
}
.Popup.active{
    position: fixed;
    transform: translateY(0%) scale(1);
}
.Popup .container{
    display: flex;
    justify-content: center;
    position: relative;
}
.close{
    position: absolute;
    font-size: 30px;
    right: 60px;
    top: 30px;
}
.close:hover{
    cursor: pointer;
}
.form_comments{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 340px;
    padding: 80px 60px 30px;
    background: #202020;
    border-radius: 8px;
    transform: translate(-50% , -50%);
}

.form_comments input{
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid #757575;
    padding-bottom: 5px;
    font-size: 16px;
    width: 390px;
}
.form_comments input:focus{
    border-bottom: 1px solid #3137C9;
}
.btn2{
    background: #3137C9;
    border: none;
    width: 120px;
    padding: 10px 20px;
    border-radius: 6px;
}
.btn2:hover{
    cursor: pointer;
}
.comments_btm{
    display: flex;
    justify-content: space-around;
}
.comments_btm p{
    font-size: 14px;
    color: #B3B3B3;
}
.comments_btm a{
    color: #B3B3B3;
}
.comments_btm a:hover{
    border-bottom: 1px solid #B3B3B3;
}
